@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

/** cssタグ設定（ここから） */
html {
	overflow-y:scroll;
}
p,li,dt,dl {
	line-height:1.6;
}
p {
	margin:0 0 1em 0;
}
li {
	list-style-type:none;
}
a {
  text-decoration: none;
}
img {
	border:0;
}
address {
	font-style:normal;
}
/** cssタグ設定（ここまで） */